
<footer class="footer">
    <div class="container">
        <svg class="position-absolute top-0 width-full mt-n1" xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" viewBox="0 0 1680 40" style="transform: scaleY(-1);">
            <path d="M0 40h1680V30S1340 0 840 0 0 30 0 30z" fill="#666"></path>
        </svg>
    </div>
</footer>
<footer class="footer">
    <div class="container">
        <p class="text-center">
            {{ site.title }} {{ site.time | date: '%Y' }} |
            Powered by <a href="https://omeansteam.github.io">Omeans Team</a>
        </p>
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
    </div>
</footer>
